{% extends 'base/main.html' %}

{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
{% load form_filters %}
<div class="main__header">
  <h1 class="main__title">{% block title %}{% endblock %}</h1>
</div>
<div class="form-container">
  <form class="form" method="post" {% block action %}{% endblock %}{% block enctype%}{% endblock %}>
    {% block form_info %}
    {% endblock %}
    {% csrf_token %}
    {% for field in form %}
    <div class="form__group">
      <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
      <div class="form__field-group">
        {{ field | add_class_for_input }}
        {% if field.errors %}
        <span class="form__error">{{ field.errors }}</span>
        {% endif %}
        {% if field.help_text %}
        <span class="form__input-info">{{ field.help_text }}</span>
        {% endif %}
      </div>
    </div>
    {% block extrafields %}{% endblock %}
    {% endfor %}
    {% if form.errors.non_field_errors %}
    <span class="form__error">{{ form.errors.non_field_errors }}</span>
    {% endif %}
    <div class="form__footer">
      {% block buttons %}{% endblock %}
    </div>
  </form>
</div>
{% endblock %}