<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Продуктовый помощник{% endblock %} | Foodgram</title>
  {% block static %}{% endblock %}
</head>
<body class="body">
  {% include 'base/header.html' %}
  <main class="main container">
    {% block content %}{% endblock %}
  </main>
  {% include 'base/footer.html' %}
</body>
</html>